# Build output
.docs/

# Deployment configs and platform folders
.vercel/
vercel.json
.vercelignore

# Tooling configs
.pre-commit-config.yaml
lefthook.yml
.lefthook/
.git/hooks/

# Local workspace
.obsidian/

# Logs
*.log

# macOS
.DS_Store
